Five Nights at Jermas/.vscode/*
Five Nights at Jermas/game/saves/*
bckup.rpy
Five Nights at Jermas/traceback.txt
Five Nights at Jermas/log.txt
MakeYourselfAtHome-1.0-dists/*
*.bak
Five Nights at Jermas/progressive_download.txt
Five Nights at Jermas/project.json
.gitignore
